[Desktop Entry]
Name=XTerm
GenericName=Terminal
Comment=standard terminal emulator for the X window system
Exec=xterm
Terminal=false
Type=Application
Encoding=UTF-8
Icon=xterm-color
Categories=System;TerminalEmulator;
X-Desktop-File-Install-Version=0.21
X-XFCE-Source=file:///usr/share/applications/xterm.desktop
